
<h3>your Shopping Cart:</h3>

<div class="cart-item" *ngFor="let item of items; index as itemID">
	<span class="h4">{{ item.name }} </span>
	<span class="h4">€ {{ item.price }}</span>
	<input type="submit" class="ml-3 btn-small btn-danger" value="Delete" (click)="onDeleteButton(itemID)">
</div>

<div class="cart-item">
	<h3>Price excl. Delivery: € {{fullPrice}}</h3>
</div>


<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
<div>
	<label>
	Name
	</label>
	<input class="ml-2" id="name" type="text" formControlName="name">
</div>
 
<div>
	<label>
	Address
	</label>
	<input class="ml-2" id="address" type="text" formControlName="address">
</div>

	<button class="btn btn-primary" type="submit">Purchase Now!</button>
</form>